<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleExecutable</key>
	<string>VulCoin</string>
	<key>CFBundleGetInfoString</key>
	<string>VulCoin</string>
	<key>CFBundleIconFile</key>
	<string>VulCoin.icns</string>
	<key>CFBundleIdentifier</key>
	<string>com.moneybagcoin.VulCoin-Qt</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>NOTE</key>
	<string>Wallet for VulCoin X11+POS+MasterNodes</string>
	<key>NSPrincipalClass</key>
	<string>NSApplication</string>
	<key>NSSupportsAutomaticGraphicsSwitching</key>
	<true/>
</dict>
</plist>
